body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

header {
    text-align: center;
}

#social-icons i {
    color: #d4a8bb;
    border: solid darkgray;
    padding: 13px;
    border-radius: 50%;
    height: 17px;
    width: 20px;
    text-align: center;
}

.highlight {
    color: rgb(154, 126, 185);
    font-weight: bold;
  }